<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Señor (a), <%= @scheduled_agenda.contact_name %></h1>
    <p>
      Por medio del presente queremos recordarte la cita agendad
      para el dia: <%= @scheduled_agenda.scheduled_date %>.<br>
    </p>
    <p>De parte del equipo eco_app queremos agradecerte!</p>
  </body>
</html>
